<header class="header">
    <div class="header-content">
        <h1 class="logo">Tu Logo</h1>
        <nav class="navigation">
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/gestion-ordenes">Gestión de Órdenes</a></li>
                <li><a routerLink="/gestion-infraestructura">Gestión Infraestructura</a></li>
                <li><a routerLink="/gestion-operarios">Gestión Operarios</a></li>
                <li><a routerLink="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </div>
</header>
